<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue CV Template</title>
</head>

<body id="app" v-cloak>
    <div id="headContainer">
        <div id="people">
            <div id="name">
                <div id="photoContainer" :data-title="tooltips.photo">
                    <img :src="photo" alt="photo" id="photo" @click="photoUpscale">
                </div>
                <div>
                    <h1>{{ people }}</h1>
                    <p>{{ spec }}</p>
                </div>
            </div>
            <div id="links">
                <a :href="phone" id="link_phone" :data-title="tooltips.phone"><img src="img/phone_light.svg" alt="phone"></a>
                <a :href="telegram" id="link_telegram" :data-title="tooltips.telegram"><img src="img/telegram_light.svg" alt="telegram"></a>
                <a :href="email" id="link_email" :data-title="tooltips.email"><img src="img/email_light.svg" alt="email"></a>
                <a :href="github" id="link_github" :data-title="tooltips.github"><img src="img/github_light.svg" alt="github"></a>
            </div>
        </div>
        <div id="theme" :data-title="tooltips.theme" @click="switchTheme">
            <img src="img/theme_light.svg" alt="theme">
        </div>
    </div>
    <div id="bodyContainer">
        <div id="skills">
            <p id="stack"><span id="summ">{{ skills.length }}</span> Stack</p>
            <ul>
                <li v-for="skill in skills">{{ skill }}</li>
            </ul>
        </div>
        <div id="info">
            <div id="about">
                <h2>About Me</h2>
                <ul>
                    <li v-for="(info, key) in about"><strong>{{ key }}</strong>{{ info }}</li>
                </ul>
            </div>
            <div id="exp">
                <h2>Experience {{ exp }}</h2>
                <ul>
                    <li v-for="(info, key) in work"><strong>{{ key }}</strong>{{ info }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="blog">
        <ul>
            <li v-for="(pen, key) in blog" class="pens">
                <p>{{ key }}</p>
                <iframe loading="lazy" :src="pen" frameborder="0" height="265" width="400"></iframe>
            </li>
        </ul>
    </div>
    <div id="photoUpscale" class="hidden" @click="photoDownscale">
        <img :src="photo" alt="photo">
    </div>
    <p style="text-align: center;">Made with Vue.js and SCSS</p>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>